# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Build directory
build/

# Binary directory
bin/

# CMakeFiles directory
CMakeFiles/
